.features-box{

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;

  &__card{
    height: 250px;
    width: 250px;
    background-color: $color-grey-light-1;
    border-radius: 5px;
    box-shadow: var(--shadow-light);
    padding: 2rem 1.5rem;
    text-align: center;
    transition: all .2s;
    

    &--icon{
      height: 6rem;
      width: 6rem;
      fill: var(--color-primary);
      padding-top: 1rem;
      margin-bottom: 5px;
    }

    &--tittle{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
      // color: var(--color-primary);
    }

    &--body{
      font-size: 11px;
      font-weight: 300;
      margin-bottom: 5px;
    }

    &:hover{
      transform: scale(1.05);
      cursor: pointer;

    }
  }

}

.explore{
  text-align: center;
  padding: 5rem;
}